body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wrapper {
    border: 1px solid #afb8c5;
    height: auto;
    margin: 0 auto;
}


.header {
    border: 1px solid #ddb0e1;
    height: 100px;
    width: 100%;
    background-color: #F5B027;
}


.menu {
    height: 50px;
    width: 100%;
    background-color: rgb(204, 191, 229);
}

ul.list_menu {
    padding: 0;
    margin: 0 auto;
    width: 60%;
    border: 1px solid #F5B027;
    list-style: none;
    line-height: 30px;
    text-align: center;
}

ul.list_menu li {
    float: left;
    margin: 5px;
    padding: 3px 10px;
}

ul.list_menu li:hover {
    background-color: #F5B027;
    color: white;
    cursor: pointer;
}

ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

#main {
    border: 1px solid #000;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
}


.sliderbar {
    border: 1px solid #e42c2c;
    width: 24%;
    float: left;
    box-sizing: border-box;
}

ul.list_sliderbar {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 30px;
}

ul.list_sliderbar li {
    margin: 5px;
    padding: 3px 8px;
}

ul.list_sliderbar li:hover {
    background-color: #F5B027;
    color: white;
    cursor: pointer;
}

ul.list_sliderbar li a {
    text-decoration: none;
    text-align: left;
    display: block;
    color: rgb(16, 2, 15);
    font-weight: bold;
}


.maincontent {
    border: 1px solid #000;
    width: 75%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
}

/* --- PRODUCT LIST --- */
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

ul.product_list li {
    width: 18%;
    border: 1px solid #000;
    margin: 1%;
    float: left;
    background: #f4bb48;
    border-radius: 5px;
    overflow: hidden;
}

ul.product_list li img {
    width: 100%;
    height: auto;
    display: block;
}

p.tittle_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

p.price_product {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    margin: 0;
    padding: 5px 0;
}

ul.product_list li a {
    text-decoration: none;
    color: inherit;
}


.clear {
    clear: both;
}


.footer {
    border: 1px solid #000;
    height: 150px;
    width: 100%;
    clear: both;
    background-color: #F5B027;
    text-align: center;
    line-height: 150px;
    font-weight: bold;
    color: white;
}
